.lists_basic{
    border-radius: 30px;
    width: 30%;
    margin-top: 20px;
    margin-left: 30px;
}

/*.list_image {*/
/*    border-radius: 120px;*/
/*    !*width: 30rem;*!*/
/*    !*margin-top: 20px;*!*/
/*    !*margin-left: 30px;*!*/
/*}*/