.container {
    /*margin-top: 50px;*/
}

section {
    background-color: #f8f9fa;
    /*padding: 30px;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

a:hover {
    color: #0056b3;
}

.div-documents {
    margin: 20px;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}