.single__quiz__item {
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(227, 227, 227, 0.65);
    /*height: 450px;*/
}

.single__quiz__item:hover {
    background-color: rgba(227, 227, 227, 1);
    cursor: pointer;
}

.quiz-container {
    margin: 0 20%;
}